
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="/styles.css"> 
</head>

<body>
    {% include "templates/navbar.html" %}

    

    {% block content %}
    <div class="background-container">
        <!-- Left background image -->
        <div class="background-left"></div>
        <!-- Right background image -->
        <div class="background-right"></div>
        <!-- Content goes here -->
        <div class="content">
          <!-- Your content here -->
          <h1 style="margin-left: 35%;">Page under construction</h1>
          
        </div>
      </div>
      {% endblock %}

      {% include "templates/footer.html" %}
</body>

</html>
