/* Underline styles */
.underline {
  position: absolute;
  width: 1200px;
  height: 1px;
  background-color: #000000;
  bottom: 0;
}

 /* Hosted Services heading */
 .hosted-services-heading {
  position: absolute;
  width: 1200px;
  height: 72px;
  left: calc(50% - 600px); /* Center horizontally */
  top: 50px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.15px;
  color: #000000;
  /* border: 5px solid red; */
  margin-top: 2%;
}

.learn-more-button {
  background-color: #ECB44B;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 200px;
}

.learn-more-button:hover {
background-color: #57A0C7;
}