/* Underline styles */
.underline {
  position: absolute;
  width: 1200px;
  height: 1px;
  background-color: #000000;
  bottom: 0;
}

 /* Hosted Services heading */
 .hosted-services-heading {
  position: absolute;
  width: 1200px;
  height: 72px;
  left: calc(50% - 600px); /* Center horizontally */
  top: 50px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.15px;
  color: #000000;
  /* border: 5px solid red; */
  margin-top: 2%;
}

.learn-more-button {
  background-color: #ECB44B;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 200px;
}

.learn-more-button:hover {
  background-color: #57A0C7;
  }

  .support-ticket-table {
    border-collapse: separate;
    border-spacing: 0;
    width: 60%;
    margin-top: 5%;
    /* border: 5px solid green; */
    margin-left: 20%;
}

.support-ticket-table th,
.support-ticket-table td {
    padding: 8px;
    text-align: left;
}

.support-ticket-table input[type="text"] {
    width: 80%;
    padding: 8px;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    background-image: url('/assets/geohosting/images/search_icon.svg');
    background-repeat: no-repeat;
    background-position: calc(100% - 5px) center; /* Adjusted background position */
    padding-right: 30px; /* Added padding for icon on the right */
}


.support-ticket-table .date-fields {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.support-ticket-table .date-fields input[type="date"] {
    width: calc(50% - 4px);
    padding: 8px;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
}

.support-ticket-table .new-ticket-btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}