<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
    <link rel="stylesheet" href="/styles.css"> 
    <link rel="stylesheet" href="/product_tabs.css">
</head>

<body>
    <!-- TODOS
    1. products must be fetched from db
    2. clicking on a product should retrieve additonal info for product
    3. responsiveness and design needs a bit of polish
     -->
    {% include "templates/navbar.html" %}

    {% block content %}
    <div class="background-container" id="screenBody">
        <!-- Left background image -->
        <div class="background-left"></div>
        <!-- Right background image -->
        <div class="background-right"></div>
        <!-- Content goes here -->
        <div class="content">
            <div class="">
                <img src="/assets/geohosting/images/geohosting_logo_main.svg"  alt="Logo" class="geohosting-logo">
                
                  <div class="geohosting-heading">Welcome to a better GIS platform where privacy and freedom comes first</div>
              
              
                
                 <div class="products-container">
                  
              
                  <div class="product">
                      <div>
                          <img src="/assets/geohosting/images/BIMS.svg" alt="Product 1">
                      </div>
                    
                      <h2>GeoSight</h2>
                      <div class="description">
                          <p>GeoSight is an open-source web geospatial data platform developed by UNICEF for easy data visualization and analysis. It is specifically designed to simplify the creation of online maps for visualizing multiple indicators at a subnational level to support evidence-based decision-making for better results for children</p>  
                      </div>
                      <button class="learn-more-button" onclick="toggleProductDetails()">Learn more</button>
                    <div>
                     
                    </div>
              
                  </div>
              
                  <div class="product">
                      <div>
                          <img src="/assets/geohosting/images/BIMS.svg" alt="Product 2">
                      </div>
                    
                      <h2>GeoSight</h2>
                      <div class="description">
                          <p>GeoSight is an open-source web geospatial data platform developed by UNICEF for easy data visualization and analysis. It is specifically designed to simplify the creation of online maps for visualizing multiple indicators at a subnational level to support evidence-based decision-making for better results for children</p>
                          <p>GeoSight is an open-source web geospatial data platform developed by UNICEF for easy data visualization and analysis. It is specifically designed to simplify the creation of online maps for visualizing multiple indicators at a subnational level to support evidence-based decision-making for better results for children</p>
                          
                          
                      </div>
                    <div>
                      <button class="learn-more-button" onclick="toggleProductDetails()">Learn more</button>
                    </div>
              
                  </div>
              
              
                  <div class="product">
                      <div>
                          <img src="/assets/geohosting/images/BIMS.svg" alt="Product 3">
                      </div>
                    
                      <h2>GeoSight</h2>
                      <div class="description">
                          <p>GeoSight is an open-source web geospatial data platform developed by UNICEF for easy data visualization and analysis. It is specifically designed to simplify the creation of online maps for visualizing multiple indicators at a subnational level to support evidence-based decision-making for better results for children</p>
                          <p>GeoSight is an open-source web geospatial data platform developed by UNICEF for easy data visualization and analysis. It is specifically designed to simplify the creation of online maps for visualizing multiple indicators at a subnational level to support evidence-based decision-making for better results for children</p>
                          
                          
                      </div>
                    <div>
                      <button class="learn-more-button" onclick="toggleProductDetails()">Learn more</button>
                    </div>
              
                  </div>
                
                  <!-- Add more products as needed -->
                </div>
              </div>
        </div>

        <div id="hiddenSection" style="display: none;">

            <!-- Navbar -->
            <div class="secondary-navigation-bar" id="navbar">
                <div class="secondary-logo">
                <img src="/assets/geohosting/images/BIMS.svg" alt="Logo">
                </div>
                <ul>
                <li><a href="#" id="overview-link" class="active" onclick="loadContentAndSetActiveTab(event, 'product_overview.html', 'overview-content', this)">Overview</a></li>
                <li><a href="#" id="integration-link" onclick="loadContentAndSetActiveTab(event, 'product_integration.html', 'integration-content', this)">Integration</a></li>
                <li><a href="#" id="pricing-link" onclick="loadContentAndSetActiveTab(event, 'product_pricing.html', 'pricing-content', this)">Pricing</a></li>
                </ul>
            </div>
            
            
                <div id="hiddenSectionContent">
                    <div id="overview-content" style="display: none;"></div>
                    <div id="integration-content" style="display: none;"></div>
                    <div id="pricing-content" style="display: none;"></div>
                </div>
           
            
            <script>
                // Function to toggle product details section
                function toggleProductDetails() {
                var hiddenSection = document.getElementById('hiddenSection');
                if (hiddenSection.style.display === 'none') {
                    hiddenSection.style.display = 'block';
                    // Scroll to the hidden section
                    window.scrollTo({
                    top: hiddenSection.offsetTop,
                    behavior: 'smooth'
                    });
                    // Load content from overview page by default
                    loadContentAndSetActiveTab(event, 'product_overview.html', 'overview-content', document.getElementById('overview-link'));
                } else {
                    hiddenSection.style.display = 'none';
                }
                }
            
                // Function to load content and set active tab
                function loadContentAndSetActiveTab(event, url, targetId, clickedLink) {
                    event.preventDefault(); // Prevent default anchor behavior
                    var xhr = new XMLHttpRequest();
                    xhr.onreadystatechange = function() {
                        if (xhr.readyState === XMLHttpRequest.DONE) {
                            if (xhr.status === 200) {
                                var targetElement = document.getElementById(targetId);
                                // Hide content of the previously active tab
                                document.querySelectorAll('#hiddenSectionContent > div').forEach(function(content) {
                                    if (content !== targetElement) {
                                        content.style.display = 'none';
                                    }
                                });
                                targetElement.innerHTML = xhr.responseText;
                                // Make the loaded content visible
                                targetElement.style.display = 'block';
                                // Remove active class from all links
                                document.querySelectorAll('.secondary-navigation-bar ul li a').forEach(function(link) {
                                    link.classList.remove('active');
                                });
                                // Add active class to the clicked link
                                clickedLink.classList.add('active');
                            } else {
                                console.error('Error loading content:', xhr.status);
                            }
                        }
                    };
                    xhr.open('GET', url, true);
                    xhr.send();
                }
            </script>

        </div>
  
    
    {% endblock %}

    {% include "templates/footer.html" %}
</body>

</html>
