
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Support</title>
    <link rel="stylesheet" href="/styles.css"> 
</head>

<body>
    {% include "templates/navbar.html" %}

    

    {% block content %}
    <div class="background-container" id="screenBody">
        {% include "templates/product_nav.html" %}
        <!-- Left background image -->
        <div class="background-left"></div>
        <!-- Right background image -->
        <div class="background-right"></div>
        <!-- Content goes here -->
        <div class="content" style="height: 110vh;">
            <!-- Your content here -->
            <h1>Page under construction</h1>
            
          </div>
      </div>
      {% endblock %}

      {% include "templates/footer.html" %}
</body>

</html>
