<table class="support-ticket-table">
  <tr>
      <th>
          <input type="text" id="search" name="search" style="border: 1px solid gray; width: 276px; height: 40px; border: none;" placeholder="Search Invoices">
      </th>
      <th>
          <div class="date-fields">
              <label for="start-date">Start </label>
              <input type="date" name="start-date" style="width: 276px; height: 40px; border: none;" >
              <label for="end-date" class="end-date-margin">End </label>
              <input type="date"  id="end-date" name="end-date" style="width: 276px; height: 40px; border: none;" >
              <!-- <label for="clear" class="end-date-margin" id="clear-button" onclick="clearFilters()"><span>Clear</span></label> -->
          </div>
      </th>
  </tr>
</table>