/* Pricing Card Container */
.pricing-container {
  position: relative;
  width: 80%; 
  max-width: 1403px;
  height: auto;
  margin: 0 auto; 
  top: 20px; 
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  /* border: 5px solid green; */
}


/* Media Queries */
@media screen and (max-width: 768px) {
  .pricing-container {
    position: absolute;
    width: 1403px;
    height: auto;
    left: 80px;
    top: 80px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
  }
}


/* Individual Pricing Card Styles */
.pricing-card {
  width: 340px;
  height: 450px;
  background: #ECECEC;
  align-items: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  padding: 20px;
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Package Title */
.package-title {
  font-family: 'Lato';
  font-weight: 500;
  font-size: 24px;
  color: #000000;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

/* Price Container */
.price-container {
  display: flex;
  align-items: baseline;
  justify-content: center;
  margin-bottom: 20px;
}

/* Price */
.price {
  font-size: 48px;
  font-weight: 500;
  color: #000000;
  margin-right: 5px;
}

/* Price Details */
.price-details {
  font-size: 16px;
  font-weight: 500;
  color: #000000;
  font-size: 14px;
}

/* Features */
.features {
  margin-bottom: 20px;
  text-align: left;
}

.features ul {
  list-style-type: disc;
  padding-left: 20px;
  margin: 0;
}

.features li {
  margin: 5px 0;
}

/* Button */
.round-btn {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 10px;
  gap: 10px;
  width: auto;
  height: 30px;
  background: #57A0C7;
  border: 1px solid #57A0C7;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  font-family: 'Lato';
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #FFFFFF;
  cursor: pointer;
}

/* Centered Text */
.centered-text {
  text-align: center;
}

/* Underlined Header */
.underlined-header {
  position: relative;
  text-align: left;
  left: 0;
}

.underlined-header::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 1px;
  background-color: #000;
}

/* Spacing between button and features */
.button-features-spacing {
  margin-bottom: 10px;
}

/* Logo Container */
.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.logo-container img {
  max-width: 100%;
  max-height: 100%;
}





.cards-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 14px;
  position: absolute;
  width: 1380px;
  height: auto;
  left: calc(50% - 1380px/2);
  top: 0px;
  /* border: 5px solid red; */
}

/* Card Styles */
.card {
  display: flex;
  flex-direction: column;
  align-items: center; 
  gap: 10px;
  width: 334.5px;
  height: 650px;
  border-radius: 5px;
  background: #ECECEC;
  /* border: 5px solid green; */
}

.card:nth-child(4) {
  background: #F4B340; /* Golden background for the fourth card */
}

/* Logo */
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  }

  .logo-container img {
  max-width: 100%;
  max-height: 100%;
  }

/* Title */
.title {
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.15px;
  color: #000000;
  /* border: 5px solid yellow; */
}

/* Header */
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; 
  padding: 15px 0px;
  gap: 10px;
  width: 334.5px;
  height: auto;
  margin-bottom: 20%;
  background: #57A0C7;
  border-radius: 5px 5px 0px 0px;
  /* border: 5px solid orange; */
  
}

.header-text {
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.15px;
  color: #FFFFFF;
}

/* Monthly Price */
.price {
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.15px;
  color: #000000;
}

.price-details {
  font-size: 16px;
  font-weight: 600;
  color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  }

/* Get Geosight Free Button */
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 38px;
  background: #57A0C7;
  border: 1px solid #57A0C7;
  border-radius: 5px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.15px;
  color: #FFFFFF;
  margin-top: 5%;
  margin-bottom: 5%;
  cursor: pointer;
}

/* Advanced Features Title */
.features-title {
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.15px;
  color: #000000;
}

/* Features List */
.features-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  width: 100%;
  overflow-y: auto;
  /* border: 5px solid saddlebrown; */
}

/* Feature Item */
.feature-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Green Tick */
.vector {
  width: 18px;
  height: 14px;
}

/* Adjust the tick appearance */
.vector-tick {
  content: '';
  position: relative;
  top: 50%;
  left:5px;
  width: 4px;
  height: 8px;
  border: solid #57A0C7;
  border-width: 0 2px 2px 0;
  transform: translateY(-50%) rotate(45deg);
}

.feature-text {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.15px;
  color: #000000;
}

/* Media Queries */
@media screen and (max-width: 768px) {
.cards-container {
  position: absolute;
  width: 1403px;
  height: auto;
  left: 20px;
  top: 80px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}
}