<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="{{ csrf_token }}">
    <title>Products</title>
    <link rel="stylesheet" href="../styles.css"> 
    <link rel="stylesheet" href="../style_guidelines.css"> 
    <link rel="stylesheet" href="product_tabs.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/assets/geohosting/js/util.js"></script>  
</head>

<body>
    
    {% include "templates/navbar.html" %}

    {% block content %}
    <div class="background-container" id="screenBody">
        <!-- Left background image -->
        <div class="background-left"></div>
        <!-- Right background image -->
        <div class="background-right"></div>
        <script>
            function parseHTML(description) {
                const parser = new DOMParser();
                return parser.parseFromString(description, 'text/html');
            }

            function getDescriptionByHeader(doc, header) {
                const paragraphs = doc.querySelectorAll('p');
                let captureText = false;
                let description = '';
                paragraphs.forEach(p => {
                    if (p.querySelector('strong') && p.querySelector('strong').textContent.trim() === header) {
                        captureText = true;
                    } else if (captureText && p.querySelector('strong')) {
                        captureText = false;
                    } else if (captureText) {
                        description += p.textContent + ' ';
                    }
                });
                return description.trim() || 'No description available';
            }

            function trimDescription(description) {
                const doc = parseHTML(description);
                return getDescriptionByHeader(doc, 'short description');
            }

            function getOverviewDescription(description) {
                const doc = parseHTML(description);
                return getDescriptionByHeader(doc, 'overview description');
            }

            function getOverviewDescriptionHeader(description) {
                const doc = parseHTML(description);
                return getDescriptionByHeader(doc, 'overview header');
            }

            function getOverviewContinuation(description) {
                const doc = parseHTML(description);
                return getDescriptionByHeader(doc, 'overview continuation');
            }

            function getOverviewContinuationHeader(description) {
                const doc = parseHTML(description);
                return getDescriptionByHeader(doc, 'overview continuation header');
            }

            function getWhatDoesItDo(description) {
                const doc = parseHTML(description);
                return getDescriptionByHeader(doc, 'what does it do');
            }

            function getWhoIsItFor(description) {
                const doc = parseHTML(description);
                return getDescriptionByHeader(doc, 'who is it for');
            }

            function getHowDoesItWork(description) {
                const doc = parseHTML(description);
                return getDescriptionByHeader(doc, 'how does it work');
            }

            function getOpenPlatform(description) {
                const doc = parseHTML(description);
                return getDescriptionByHeader(doc, 'open platform');
            }

            function getGithubLink(description) {
                const doc = parseHTML(description);
                return getDescriptionByHeader(doc, 'github link');
            }

            function getSupportLink(description) {
                const doc = parseHTML(description);
                return getDescriptionByHeader(doc, 'support link');
            }
            </script>
        <!-- Content -->
        <div class="content">
            <div class="">
                <img src="/assets/geohosting/images/geohosting_main_logo.png"  alt="Logo" class="geohosting-logo">
                
                  <div class="geohosting-heading lato-sans-serif-bold-64">Welcome to a better GIS platform where privacy and freedom comes first.</div>
                
                 <div class="products-container">

                    {% for item in stock_items %}

                    <div class="product">
                        <div>
                            <img src="{{ item.image }}" alt="Product">
                        </div>
                      
                        <div class="lato-sans-serif-bold-24">{{ item.item_name }}</div>
                        <div class="description lato-sans-serif-regular-16">
                            <p>
                                <script>
                                    document.write(trimDescription(`{{ item.description | replace("'", "\\'") | replace('\n', '') }}`));
                                </script>
                            </p>
                        </div>
                        <button class="product learn-more-button" onclick="toggleProductDetails('{{ item.item_name }}','{{ item.image }}')">Learn more</button>
                        <div></div>
                
                    </div>

                    {% endfor %}

                </div>

            </div>
        </div>

        <div id="hiddenSection" style="display: none;">

            <!-- Navbar -->
            <div class="secondary-navigation-bar" id="navbar">
                <div class="secondary-logo">
                <img src="" id="navbar-logo" alt="Logo">
                </div>
                <ul>
                <li><a href="#" id="overview-link" class="active lato-sans-regular-24" onclick="loadContentAndSetActiveTab(event, 'product_overview.html', 'overview-content', this)">Overview</a></li>
                <li><a href="#" id="pricing-link" class="lato-sans-regular-24" onclick="loadContentAndSetActiveTab(event, 'product_pricing.html', 'pricing-content', this)">Pricing</a></li>
                </ul>
            </div>
            
            <div id="loading-indicator" style="display: none;">
                <div class="loader"></div>
            </div>
            <div id="hiddenSectionContent" style="display: none;">
                <div id="overview-content" style="display: none;"></div>
                <div id="integration-content" style="display: none;"></div>
                <div id="pricing-content" style="display: none;"></div>
            </div>

            

        </div>
           
        <button id="scrollToTopBtn" onclick="scrollToTop()">&#8593;</button>

            <!-- scroll to top functionality -->
            <script>
                // add a scroll button for easy nav
                window.onscroll = function() {scrollFunction()};

                function scrollFunction() {
                    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                        document.getElementById("scrollToTopBtn").style.display = "block";
                    } else {
                        document.getElementById("scrollToTopBtn").style.display = "none";
                    }
                }

                function scrollToTop() {
                    document.body.scrollTop = 0; // For Safari
                    document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
                }

                // make scrolling smoother
                function smoothScrollTo(element, duration) {
                    const targetPosition = element.offsetTop;
                    const startPosition = window.pageYOffset;
                    const distance = targetPosition - startPosition;
                    let startTime = null;

                    function animation(currentTime) {
                        if (startTime === null) startTime = currentTime;
                        const timeElapsed = currentTime - startTime;
                        const scrollProgress = Math.min(timeElapsed / duration, 1);
                        window.scrollTo(0, startPosition + distance * ease(scrollProgress));

                        if (timeElapsed < duration) requestAnimationFrame(animation);
                    }

                    function ease(t) {
                        return t < 0.5 ? 2 * t * t : -1 + (4 - 2 * t) * t;
                    }

                    requestAnimationFrame(animation);
                }
            </script>

       

            <script>


                var backgroundContainer = document.getElementById('screenBody');

                var loadingIndicator = document.getElementById('loading-indicator');
                var hiddenSectionContent =  document.getElementById('hiddenSectionContent');
                

                var stockItems = JSON.parse('{{ stock_items | tojson | safe }}');
                console.log(stockItems); // testing purposes
                    

                function getProduct(itemArray, targetItemName) {
                    const item = itemArray.find(obj => obj.item_name === targetItemName);
                    return item ? item : undefined;
                }
                


                function toggleProductDetails(item_name, logoUrl) {
                    localStorage.setItem('selectedItem',item_name);
                    localStorage.setItem('logoUrl', JSON.stringify(logoUrl));
                    var hiddenSection = document.getElementById('hiddenSection');

                    if (hiddenSection.style.display === 'none') {
                        hiddenSection.style.display = 'block';
                        loadingIndicator.style.display = 'block';
                        
                        smoothScrollTo(hiddenSection, 1000); 
                        loadContentAndSetActiveTab(event, 'product_overview.html', 'overview-content', document.getElementById('overview-link'), logoUrl);
                        

                    } else {
                        hiddenSection.style.display = 'none';
                    }
                    document.getElementById('navbar-logo').src = logoUrl;

                    var buttons = document.querySelectorAll('.learn-more-button');
                    var currentButton = event.currentTarget;
                    var isExpanded = hiddenSection.style.display !== 'none';

                    buttons.forEach(function(button) {
                        if (button === currentButton) {
                            button.textContent = isExpanded ? 'Close' : 'Learn more';
                            isExpanded?button.classList.add('active'):button.classList.remove('active')
                        } else {
                            if (isExpanded) {
                                button.classList.add('disabled');
                                button.disabled = true;
                                button.classList.remove('active');
                            } else {
                                button.classList.remove('disabled');
                                button.disabled = false;
                            }
                        }
                    });
                }


           

                async function fetchAttachments(item_code) {
                    const attachmentsUrl = `/api/resource/File`;
                    const filters = [
                        ["attached_to_doctype", "=", "Item"],
                        ["attached_to_name", "=", item_code]
                    ];
                    const params = new URLSearchParams({
                        'filters': JSON.stringify(filters),
                        'fields': JSON.stringify(["*"]) 
                    });

                    try {
                        const response = await fetch(`${attachmentsUrl}?${params}`);
                        if (!response.ok) {
                            throw new Error(`Failed to fetch attachments: ${response.statusText}`);
                        }
                        const attachmentsData = await response.json();
                        const screenshotAttachment = attachmentsData.data.find(file => file.file_name.endsWith("screenshot.png"));

                        return screenshotAttachment.file_url;
                    } catch (error) {
                        console.error("Error fetching attachments:", error);
                    }
                }

                async function setDynamicBackground(item_code) {
                    
                    document.querySelector('.overview-image').innerHTML = '<div class="overlay"></div><div class="overlay-loader "></div>';
                    document.querySelector('.overview-image-white').innerHTML = '<div class="overlay-white"></div><div class="overlay-loader "></div>';


                    var item_name = '/assets/geohosting/images/' + localStorage.getItem('selectedItem') + '-screenshot.png';
                    var overviewImage = document.querySelector('.overview-image');
                    var overviewImageWhite = document.querySelector('.overview-image-white');

                    // Create new image element
                    var image = new Image();

                    // Set image source
                    image.src = item_name;

                    // When image is fully loaded
                    image.onload = function() {
                        // Set background images
                        overviewImage.style.backgroundImage = `url('${item_name}')`;
                        overviewImageWhite.style.backgroundImage = `url('${item_name}')`;

                        // Remove overlay and loader
                        overviewImage.innerHTML = '';
                        overviewImageWhite.innerHTML = '';
                    };

                    // If image fails to load
                    image.onerror = function() {
                        // Handle error, for example, display an error message
                        console.error('Failed to load image:', item_name);
                    };
                }

                function setDynamicContent(product) {
                    try{
                        var dynamicParagraph = document.getElementById('dynamic-paragraph');
                        dynamicParagraph.innerHTML = getOverviewDescription(product.description);
                        var dynamicHeader = document.getElementById('dynamic-header');
                        dynamicHeader.innerHTML = getOverviewDescriptionHeader(product.description);

                        dynamicParagraph = document.getElementById('dynamic-paragraph-integration');
                        dynamicParagraph.innerHTML = getOverviewContinuation(product.description);
                        dynamicHeader = document.getElementById('dynamic-header-integration');
                        dynamicHeader.innerHTML = getOverviewContinuationHeader(product.description);

                        dynamicParagraph = document.getElementById('who-is-it-for-des');
                        dynamicParagraph.innerHTML = getWhoIsItFor(product.description);

                        dynamicParagraph = document.getElementById('what-does-it-do-des');
                        dynamicParagraph.innerHTML = getWhatDoesItDo(product.description);

                        dynamicParagraph = document.getElementById('how-does-it-work-des');
                        dynamicParagraph.innerHTML = getHowDoesItWork(product.description);

                        dynamicParagraph = document.getElementById('open-platform');
                        dynamicParagraph.innerHTML = getOpenPlatform(product.description);


                        dynamicParagraph = document.getElementById('source-code-link');
                        dynamicParagraph.innerHTML = getGithubLink(product.description);

                    }
                    catch(error) {
                        console.log(error);
                    }
                     
                }

            
                // Function to load content and set active tab
                function loadContentAndSetActiveTab(event, url, targetId, clickedLink, logoUrl) {
                    loadingIndicator.style.display = 'block';
                    hiddenSectionContent.style.display = 'none';
                    event.preventDefault(); // Prevent default anchor behavior
                    var xhr = new XMLHttpRequest();
                    xhr.onreadystatechange = function() {
                        if (xhr.readyState === XMLHttpRequest.DONE) {
                            if (xhr.status === 200) {
                                try {
                                   
                                    
                                        hiddenSectionContent.style.display = 'block';
                                        
                                        
                                        var targetElement = document.getElementById(targetId);
                                        
                                        // Hide content of the previously active tab
                                        document.querySelectorAll('#hiddenSectionContent > div').forEach(function(content) {
                                            if (content !== targetElement) {
                                                content.style.display = 'none';
                                            }
                                        });
                                        
                                        targetElement.innerHTML = xhr.responseText;
                                        
                                        
                                        
                                        // Remove active class from all links
                                        document.querySelectorAll('.secondary-navigation-bar ul li a').forEach(function(link) {
                                            link.classList.remove('active');
                                        });
                                        
                                        // Add active class to the clicked link
                                        clickedLink.classList.add('active');

                                        const product = getProduct(stockItems, localStorage.getItem('selectedItem'));

                                        // assign dynamic values to product overview
                                        
                                        setDynamicBackground(product.name)

                                        setDynamicContent(product)


                                        if (url.includes('product_pricing')) {
                                            assignPricingCardValues(product);
                                        }

                                    setTimeout(function() {
                                        loadingIndicator.style.display = 'none';
                                        targetElement.style.display = 'block';
                                        smoothScrollTo(hiddenSection, 1000);
                                    }, 1500);

                                    
                                    
                                } catch(exception){
                                    console.log(exception.message)
                                }
                            } else {
                                console.error('Error loading content:', xhr.status);
                            }
                        }
                    };
                    xhr.open('GET', url, true);
                    xhr.send();
                    smoothScrollTo(hiddenSection, 1000);
                }

            </script>


            <!-- product pricing --> 
            <script>

                function formatDate(date) {
                    let d = new Date(date),
                        month = '' + (d.getMonth() + 1),
                        day = '' + d.getDate(),
                        year = d.getFullYear();

                    if (month.length < 2) month = '0' + month;
                    if (day.length < 2) day = '0' + day;

                    return [year, month, day].join('-');
                 }

                 
                function splitHeading(headingId){
                    const headingElement = document.getElementById(headingId);
                    const headingText = headingElement.textContent || headingElement.innerText;

                    return headingText.split(' ');
                }

                function addButtonLoader(dynamicButton){
                    var btn_text = dynamicButton.innerHTML;
                    dynamicButton.innerHTML = '<div class="btn_loader"></div>';
                    dynamicButton.style.width = '230px';
                    dynamicButton.style.height = '54px';
                    return btn_text;
                }

                function removeButtonLoader(dynamicButton, btn_text){
                    dynamicButton.innerHTML = btn_text;
                    dynamicButton.style.width = '230px';
                    dynamicButton.style.height = '54px';
                }

                async function createSalesOrder(headingId) {

                    
                    const [word1, word2] = splitHeading(headingId);

                    var dynamicButton = document.getElementById('pricing-card-button-'+word2.toLowerCase())
                    var btn_text = addButtonLoader(dynamicButton)
                    
          
                    await fetchUserInfo().then(async userInfo => {
                        if (userInfo) {
                            const { current_user, customer_name } = userInfo;
                            if (!current_user || current_user === "Guest") {
                                showCustomAlert('Login or create an account to purchase product.', 'danger-alert',backgroundContainer);
                            } else if (!customer_name) {
                                showCustomAlert('Cannot create a sales order for a non customer account.', 'danger-alert',backgroundContainer);
                                // TODO CREATE CUSTOMER BEFORE CREATING SALES ORDER
                            } else {
                                // create item code
                                
                                var type = '';
                                if(word2 == 'Basic')
                                    type = 'SMALL';
                                else if(word2 == 'Advanced')
                                    type = 'MEDIUM';
                                else if(word2 == 'Gold')
                                    type = 'LARGE';

                                const itemCode = word1.toLowerCase() + '-' + type + '-DO';

                                const currentDate = new Date();
                                const formattedDate = formatDate(currentDate);


                                console.log('customer: ' + customer_name);
                                console.log('item code: ' + itemCode);
                                console.log('formatted date:'+ formattedDate);
                                console.log('user email:'+ current_user);
                            
                                const formData = new FormData();
                            
                                // Construct the Sales Order data
                                const salesOrderData = {
                                    // docstatus: 0,
                                    doctype: "Sales Order",
                                    owner: current_user,
                                    title: 	"{customer_name}",
                                    order_type: "Shopping Cart",
                                    transaction_date: formattedDate,
                                    reserve_stock: 0,
                                    items: [
                                        {
                                            item_code: itemCode,
                                            qty: 1,
                                            parentfield: "items",
                                            parenttype: "Sales Order",
                                            warehouse: "All Warehouses - K", // should fetch and assign dynamically
                                            delivery_date: formattedDate
                                        }
                                    ],
                                    status: "To Deliver and Bill",
                                    delivery_status: "Not Delivered",
                                    billing_status: "Not Billed",
                                    is_internal_customer: 0,
                                    total_qty: 1,
                                    customer_name: customer_name,
                                    customer: customer_name,
                                    taxes_and_charges: "South Africa Tax - K",
                                    taxes: [
                                    {
                                        "docstatus": 0,
                                        "doctype": "Sales Taxes and Charges",
                                        "owner": current_user,
                                        "charge_type": "On Net Total",
                                        "parentfield": "taxes",
                                        "parenttype": "Sales Order",
                                        "account_head": "2604 - VAT Payable - K",
                                        "rate": 15,
                                        "description": "VAT 15%",
                                    }
                                    ],
                                    
                                };
                            
                                // Add the Sales Order data to the form data
                                formData.append("doc", JSON.stringify(salesOrderData));
                                // formData.append("action", "Save");
                                formData.append("action", "Submit");
                            
                                try {
                            
                                    const result = await saveSalesOrder(formData);
                                    
                                    if (result.docs[0].name) {
                                        const salesOrderName = result.docs[0].name;
                                        gotoCart(splitHeading(headingId),salesOrderName);
                                    } else {
                                        showCustomAlert('Could not create the sales order.', 'danger-alert',backgroundContainer);
                                        removeButtonLoader(dynamicButton, btn_text);
                                    }
                                } catch (error) {
                                    console.error('Error:', error);
                                    showCustomAlert('Could not create the sales order.', 'danger-alert',backgroundContainer);
                                    removeButtonLoader(dynamicButton, btn_text);
                                }
                            }
                        } else {
                            console.error('Could not retrieve user information.');
                            dynamicButton.innerHTML = btn_text;
                        }
                    });
                }

                async function saveSalesOrder(formData) {
                    const url = '/api/method/frappe.desk.form.save.savedocs';

                    const options = {
                        method: 'POST',
                        body: formData,
                    };

                    try {
                        const response = await fetchWithCSRF(url, options);
                        
                        return response.json();

                    } catch (error) {
                        console.error('Error saving sales order:', error);
                        throw error;
                    }
                }


                // async function saveSalesOrder(formData) {

                //     const response = await fetch('/api/method/frappe.desk.form.save.savedocs', {
                //         method: 'POST',
                //         body: formData,
                //     });

                    
                //     return response.json();
                // }

                async function gotoCart(words,sales_order_generated) {
                    const [word1, word2] = words;

                    var selectedProduct = await fetchProductPrices(word1,true,word2.toLowerCase());
                    var selectedProductAttributes = await fetchProductAttributes(word1,true,word2.toLowerCase());

                    var selectedProduct = {
                        name: words,
                        price: selectedProduct.price,
                        currency: selectedProduct.currency,
                        features: selectedProductAttributes,
                        checkoutLogo: localStorage.getItem('checkout-product-logo'),
                        itemCode: localStorage.getItem('item-code'),
                        sales_order_generated: sales_order_generated
                    }

                    localStorage.setItem('selectedProduct', JSON.stringify(selectedProduct));
                    
                    window.location.href = 'checkout.html';
                }

                async function fetchProductPrices(itemName,singleProduct = false,selectedProduct = 'none',host = 'DO') {
                    const baseUrl = '/api/resource/Item%20Price';
                    const lowercaseItemName = itemName.toLowerCase();
                    const filters = JSON.stringify([
                        ['item_code', 'in', [`${lowercaseItemName}-SMALL-${host}`, `${lowercaseItemName}-MEDIUM-${host}`, `${lowercaseItemName}-LARGE-${host}`]],
                        ['selling', '=', 1]
                    ]);
                    const fields = JSON.stringify(['price_list_rate', 'currency']);

                    try {
                        const response = await fetch(`${baseUrl}?filters=${filters}&fields=${fields}`);
                        const data = await response.json();

                        if (data.data && data.data.length > 0) {
                            // Assuming the first three entries correspond to SMALL, MEDIUM, and LARGE in that order
                            if(singleProduct && selectedProduct == 'basic')
                                return {
                                    price: data.data[0].price_list_rate,
                                    currency: data.data[0].currency
                                }
                            else if(singleProduct && selectedProduct == 'advanced')
                                return {
                                    price: data.data[1].price_list_rate,
                                    currency: data.data[1].currency
                                }
                            else if(singleProduct && selectedProduct == 'gold')
                                return {
                                    price: data.data[2].price_list_rate,
                                    currency: data.data[2].currency
                                }
                            else {
                                // let formattedPrice = data.data[0].price_list_rate.toLocaleString('en-ZA', { style: 'currency', currency: 'ZAR' });
                                try {
                                    let formattedPrice_basic = data.data[0].price_list_rate.toLocaleString('en-ZA', {
                                        minimumFractionDigits: 0,
                                        maximumFractionDigits: 0
                                    });

                                    let formattedPrice_advanced = data.data[1].price_list_rate.toLocaleString('en-ZA', {
                                        minimumFractionDigits: 0,
                                        maximumFractionDigits: 0
                                    });

                                    let formattedPrice_gold = data.data[2].price_list_rate.toLocaleString('en-ZA', {
                                        minimumFractionDigits: 0,
                                        maximumFractionDigits: 0
                                    });
                                    document.getElementById('pricing-card-price-basic').innerHTML = `${formattedPrice_basic}<br>${data.data[0].currency}`;
                                    document.getElementById('pricing-card-price-advanced').innerHTML = `${formattedPrice_advanced}<br>${data.data[1].currency}`;
                                    document.getElementById('pricing-card-price-gold').innerHTML = `${formattedPrice_gold}<br>${data.data[2].currency}`;
                                }catch(e){
                                    console.log(e);
                                }


                                
                            }
                        } else {
                            console.error('No data found for the specified filters.');
                        }
                    } catch (error) {
                        console.error('Error fetching product prices:', error);
                    }
                }

                async function fetchProductAttributes(baseName,singleProduct = false,selectedProduct = 'none') {
                    const baseUrl = '/api/resource/Item%20Attribute';
                    const attributeName = `GeoHosting ${baseName} Host Specifications`;

                    try {
                        const response = await fetch(`${baseUrl}/${attributeName}`);
                        const data = await response.json();

                        if (data.data && data.data.item_attribute_values) {
                            // Process attribute values
                            for (let attrValue of data.data.item_attribute_values){

                                if(singleProduct && selectedProduct == 'basic' && attrValue.abbr.toLowerCase() == "small")
                                    return attrValue.attribute_value.split('; ');
                                else if(singleProduct && selectedProduct == 'advanced' && attrValue.abbr.toLowerCase() == "medium")
                                    return attrValue.attribute_value.split('; ');
                                else if(singleProduct && selectedProduct == 'gold' && attrValue.abbr.toLowerCase() == "large")
                                    return attrValue.attribute_value.split('; ');
                                else if(!singleProduct){
                                    var featureListId = '';
                                    if(attrValue.abbr.toLowerCase() == "small")
                                        featureListId = `pricing-card-features-basic`;
                                    else if(attrValue.abbr.toLowerCase() == "medium")
                                        featureListId = `pricing-card-features-advanced`;
                                    else if(attrValue.abbr.toLowerCase() == "large")
                                        featureListId = `pricing-card-features-gold`;
                                    const featureList = document.getElementById(featureListId);
                                    if (featureList) {
                                        const features = attrValue.attribute_value.split('; ');
                                        features.forEach(feature => {
                                            const featureItem = document.createElement('div');
                                            featureItem.className = 'feature-item-pricing';
                                            featureItem.innerHTML = `
                                                <div class="vector-pricing">
                                                    <div class="vector-tick-pricing"></div>
                                                </div>
                                                <div class="feature-text-pricing">${feature}</div>
                                            `;
                                            featureList.appendChild(featureItem);
                                        });
                                    }
                                }
                            }
                        } else {
                            console.error('No data found for the specified attribute name.');
                        }
                    } catch (error) {
                        console.error('Error fetching product attributes:', error);
                    }
                }

                function assignPricingCardValues(product){
                    document.getElementById('pricing-card-logo').src = product.image
                    localStorage.setItem('checkout-product-logo', product.image);
                    localStorage.setItem('item_code', product.name);

                    // headings
                    var dynamicHeader = document.getElementById('pricing-card-heading-basic')
                    dynamicHeader.innerHTML = product.item_name +' Basic';
                    dynamicHeader = document.getElementById('pricing-card-heading-advanced')
                    dynamicHeader.innerHTML = product.item_name +' Advanced';
                    dynamicHeader = document.getElementById('pricing-card-heading-gold')
                    dynamicHeader.innerHTML = product.item_name +' Gold';

                    // buttons
                    var dynamicButton = document.getElementById('pricing-card-button-basic')
                    dynamicButton.innerHTML = 'Get '+ product.item_name +' Basic';
                    dynamicButton = document.getElementById('pricing-card-button-advanced')
                    dynamicButton.innerHTML = 'Get '+ product.item_name +' Advanced';
                    dynamicButton = document.getElementById('pricing-card-button-gold')
                    dynamicButton.innerHTML = 'Get '+ product.item_name +' Gold';

                    // prices
                    fetchProductPrices(product.item_name);

                    // features
                    fetchProductAttributes(product.item_name);
                }

                
            </script>

        
  
    
    {% endblock %}

    {% include "templates/footer.html" %}
</body>

</html>