.overview-container {
  position: absolute;
  width: 1530px;
  height: 560px;
  left: 50%; /* Centering horizontally */
  top: 10px;
  background: #57A0C7;
  border-radius: 30px;
  /* border: solid 5px green; */
  transform: translateX(-50%);
}




.overall-container {
  border: solid 5px black;
  height: 200vh;
  width: auto;
}

.overview-content {
  position: absolute;
  width: 40%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 80px 30px;
  box-sizing: border-box;
  font-family: 'Lato';
  /* border: 5px solid brown; */
}

.overview-content h1 {
  font-weight: 600;
  font-size: 36px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.15px;
  color: #000000;
  margin-bottom: 20px;
  /* border: yellow 5px solid; */
  margin-top: -5%;
  width: 100%;
}

.overview-content p {
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.15px;
  color: #000000;
  margin-bottom: 20px;
  /* border: 5px solid blue; */
}


.overview-content a {
  color: #000000;
  text-decoration: none;
  font-weight: 600;
}

.enterprise-solution {
  margin-top: 25%;
  font-size: 16px;
  text-align: center;
  /* border: 5px solid red; */
}

.overview-image {
  position: absolute;
  width: 900px;
  height: 98%;
  right: 0;
  top: 0;
  left: 39.5%;
  background: url('/assets/geohosting/images/overview-background.svg') left/cover no-repeat;
  background-size: contain;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  /* border: 5px solid purple; */
  margin-top: 0%;
}





.container-white {
  position: absolute;
  width: 1488px;
  height: 588px;
  left: 55px;
  background: #FFFFFF;
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transform: translateX(5%);
  left: 5.8%;
  margin-top: 625px;
  /* border: 5px solid gold; */
}

.overview-image-white {
  width: 838px; 
  background: url('/assets/geohosting/images/overview-background.svg') center/cover no-repeat;
  background-size: contain;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  /* border: 5px solid purple; */
  height: 50vh; 
  margin-top: 0%;
}

.overview-content-white {
  width: calc(100% - 838px - 20px); /* Adjusted width to accommodate image and spacing */
}

.overview-content-white h1 {
  font-weight: 600;
  font-size: 36px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.15px;
  color: #000000;
  margin-bottom: 20px;
}

.overview-content-white h1 {
  font-weight: 600;
  font-size: 36px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.15px;
  color: #000000;
  margin-bottom: 20px;
  /* border: yellow 5px solid; */
  margin-top: -5%;
}

.overview-content-white p {
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.15px;
  color: #000000;
  margin-bottom: 20px;
  /* border: 5px solid blue; */
}






@media (max-width: 768px) {

.overview-container {
  width: 100%;
  height: 100vh;
  top: 2.5%;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  padding: auto;
}

.overview-image {
  display: none;
}

.overview-content {
  width: auto;
  height: auto;
}

.overview-round-btn{
  width: auto;
  height: auto;
  font-size: 16px;
}




.container-white {
  width: auto;
  height: auto;
  top: auto;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  margin-top: 235%;
  margin-left: -10%;
}

.overview-image-white {
  width: 100%; /* Set image width to 100% for smaller screens */
  height: 180px; /* Set image height to auto to maintain aspect ratio */
  margin-bottom: 5%;
}

.overview-content-white {
    width: 100%; /* Set content width to 100% for smaller screens */
}

}