<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
    <link rel="stylesheet" href="../styles.css"> 
    <link rel="stylesheet" href="product_tabs.css">
</head>

<body>
    
    {% include "templates/navbar.html" %}

    {% block content %}
    <div class="background-container" id="screenBody">
        <!-- Left background image -->
        <div class="background-left"></div>
        <!-- Right background image -->
        <div class="background-right"></div>
        <script>
            function trimDescription(description) {
                const maxCharacters = 280; // Maximum number of characters
                if (description.length > maxCharacters) {
                    // Trim the description and append '...'
                    return description.substring(0, maxCharacters - 3) + '...</p></div>';
                } else {
                    return description;
                }
            }
            </script>
        <!-- Content -->
        <div class="content">
            <div class="">
                <img src="/assets/geohosting/images/geohosting_main_logo.png"  alt="Logo" class="geohosting-logo">
                
                  <div class="geohosting-heading">Welcome to a better GIS platform where privacy and freedom comes first.</div>
                
                 <div class="products-container">

                    {% for item in stock_items %}

                    <div class="product">
                        <div>
                            <img src="{{ item.image }}" alt="Product">
                        </div>
                      
                        <h2>{{ item.item_name }}</h2>
                        <div class="description">
                            <p><script>document.write(trimDescription('{{ item.description }}'));</script></p>
                        </div>
                        <button class="learn-more-button" onclick="toggleProductDetails('{{ item.item_name }}','{{ item.image }}')">Learn more</button>
                        <div></div>
                
                    </div>

                    {% endfor %}

                </div>

            </div>
        </div>

        <div id="hiddenSection" style="display: none;">

            

            <!-- Navbar -->
            <div class="secondary-navigation-bar" id="navbar">
                <div class="secondary-logo">
                <img src="" id="navbar-logo" alt="Logo">
                </div>
                <ul>
                <li><a href="#" id="overview-link" class="active" onclick="loadContentAndSetActiveTab(event, 'product_overview.html', 'overview-content', this)">Overview</a></li>
                <li><a href="#" id="pricing-link" onclick="loadContentAndSetActiveTab(event, 'product_pricing.html', 'pricing-content', this)">Pricing</a></li>
                </ul>
            </div>
            
            <div id="loading-indicator" style="display: none;">
                <div class="loader"></div>
            </div>
            <div id="hiddenSectionContent" style="display: none;">
                <div id="overview-content" style="display: none;"></div>
                <div id="integration-content" style="display: none;"></div>
                <div id="pricing-content" style="display: none;"></div>
            </div>

            

        </div>
           
        <button id="scrollToTopBtn" onclick="scrollToTop()">&#8593;</button>

            <!-- scroll to top functionality -->
            <script>
                // add a scroll button for easy nav
                window.onscroll = function() {scrollFunction()};

                function scrollFunction() {
                    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                        document.getElementById("scrollToTopBtn").style.display = "block";
                    } else {
                        document.getElementById("scrollToTopBtn").style.display = "none";
                    }
                }

                function scrollToTop() {
                    document.body.scrollTop = 0; // For Safari
                    document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
                }

                // make scrolling smoother
                function smoothScrollTo(element, duration) {
                    const targetPosition = element.offsetTop;
                    const startPosition = window.pageYOffset;
                    const distance = targetPosition - startPosition;
                    let startTime = null;

                    function animation(currentTime) {
                        if (startTime === null) startTime = currentTime;
                        const timeElapsed = currentTime - startTime;
                        const scrollProgress = Math.min(timeElapsed / duration, 1);
                        window.scrollTo(0, startPosition + distance * ease(scrollProgress));

                        if (timeElapsed < duration) requestAnimationFrame(animation);
                    }

                    function ease(t) {
                        return t < 0.5 ? 2 * t * t : -1 + (4 - 2 * t) * t;
                    }

                    requestAnimationFrame(animation);
                }
            </script>

            
            <script>


                

                var loadingIndicator = document.getElementById('loading-indicator');
                var hiddenSectionContent =  document.getElementById('hiddenSectionContent');
                

                var stockItems = JSON.parse('{{ stock_items | tojson | safe }}');
                // console.log(stockItems); // testing purposes
                    

                function getProduct(itemArray, targetItemName) {
                    const item = itemArray.find(obj => obj.item_name === targetItemName);
                    return item ? item : undefined;
                }
                


                function toggleProductDetails(item_name, logoUrl) {
                    localStorage.setItem('selectedItem',item_name);
                    localStorage.setItem('logoUrl', JSON.stringify(logoUrl));
                    var hiddenSection = document.getElementById('hiddenSection');

                    if (hiddenSection.style.display === 'none') {
                        hiddenSection.style.display = 'block';
                        loadingIndicator.style.display = 'block';
                        
                        smoothScrollTo(hiddenSection, 1000); 
                        loadContentAndSetActiveTab(event, 'product_overview.html', 'overview-content', document.getElementById('overview-link'), logoUrl);
                        

                        setTimeout(() => {
                            hiddenSectionContent.style.display = 'block';
                            loadingIndicator.style.display = 'none';
                        }, 1200);
                    } else {
                        hiddenSection.style.display = 'none';
                    }
                    document.getElementById('navbar-logo').src = logoUrl;

                    var buttons = document.querySelectorAll('.learn-more-button');
                    var currentButton = event.currentTarget;
                    var isExpanded = hiddenSection.style.display !== 'none';

                    buttons.forEach(function(button) {
                        if (button === currentButton) {
                            button.textContent = isExpanded ? 'Close' : 'Learn more';
                            button.style.marginLeft = isExpanded ? '5%' : '';
                        } else {
                            if (isExpanded) {
                                button.classList.add('disabled');
                                button.style.opacity = '0.7';
                                button.disabled = true;
                            } else {
                                button.classList.remove('disabled');
                                button.style.opacity = '1';
                                button.disabled = false;
                            }
                        }
                    });
                }


                async function fetchItemAttributes(attributeName) {
                    const baseUrl = '/api/resource/Item%20Attribute';
                    const filters = `[["name","like","%${encodeURIComponent(attributeName)}%"]]`;
                    const fields = '["*"]';

                    const url = `${baseUrl}?filters=${filters}&fields=${fields}`;

                    try {
                        const response = await fetch(url, {
                            method: 'GET',
                            headers: {
                                'Content-Type': 'application/json'
                            }
                        });

                        if (!response.ok) {
                            throw new Error(`HTTP error! status: ${response.status}`);
                        }

                        const data = await response.json();
                        
                        // Assuming the response has a `data` field containing the array of item attributes
                        if (data.data && data.data.length > 0) {
                            // Accessing the first item attribute object for demonstration purposes
                            const itemAttribute = data.data[0];
                            
                            // Logging the item attribute object
                            console.log('Item Attribute:', itemAttribute);
                            
                            // Extracting attribute values
                            const attributeValues = itemAttribute.values || [];
                            console.log('Attribute Values:', attributeValues);

                            return attributeValues;
                        } else {
                            console.log('No item attributes found.');
                            return [];
                        }
                    } catch (error) {
                        console.error('Error fetching item attributes:', error);
                    }
                }

                // Example usage:
                // const attributeName = 'GeoHosting GeoSight';
                // fetchItemAttributes(attributeName).then(attributeValues => console.log(JSON.stringify(attributeValues, null, 2)));



                async function fetchAttachments(item_code) {
                    const attachmentsUrl = `/api/resource/File`;
                    const filters = [
                        ["attached_to_doctype", "=", "Item"],
                        ["attached_to_name", "=", item_code]
                    ];
                    const params = new URLSearchParams({
                        'filters': JSON.stringify(filters),
                        'fields': JSON.stringify(["*"]) 
                    });

                    try {
                        const response = await fetch(`${attachmentsUrl}?${params}`);
                        if (!response.ok) {
                            throw new Error(`Failed to fetch attachments: ${response.statusText}`);
                        }
                        const attachmentsData = await response.json();
                        // document.getElementById('attachments').textContent = JSON.stringify(attachmentsData, null, 2);
                        // console.log("Attachments:", attachmentsData);
                        const screenshotAttachment = attachmentsData.data.find(file => file.file_name.endsWith("screenshot.png"));

                        // console.log("Screenshot Attachment:", screenshotAttachment);
                        return screenshotAttachment.file_url;
                    } catch (error) {
                        console.error("Error fetching attachments:", error);
                    }
                }

                async function setDynamicBackground(item_code) {
                    const productScreenshotUrl = await fetchAttachments(item_code);

                    if (productScreenshotUrl) {
                        document.querySelector('.overview-image').style.backgroundImage = `url('${productScreenshotUrl}')`;
                        document.querySelector('.overview-image-white').style.backgroundImage = `url('${productScreenshotUrl}')`;
                    } else {
                        console.log("No screenshot attachment found, using default background.");
                        document.querySelector('.overview-image').style.backgroundImage = "url('/assets/geohosting/images/overview-background.svg')";
                    }
                }
            
                // Function to load content and set active tab
                function loadContentAndSetActiveTab(event, url, targetId, clickedLink, logoUrl) {
                    hiddenSectionContent.style.display = 'none';
                    loadingIndicator.style.display = 'block';
                    event.preventDefault(); // Prevent default anchor behavior
                    var xhr = new XMLHttpRequest();
                    xhr.onreadystatechange = function() {
                        if (xhr.readyState === XMLHttpRequest.DONE) {
                            if (xhr.status === 200) {
                                hiddenSectionContent.style.display = 'block';
                                loadingIndicator.style.display = 'none';
                                var targetElement = document.getElementById(targetId);
                                // Hide content of the previously active tab
                                document.querySelectorAll('#hiddenSectionContent > div').forEach(function(content) {
                                    if (content !== targetElement) {
                                        content.style.display = 'none';
                                    }
                                });
                                targetElement.innerHTML = xhr.responseText;
                                // Make the loaded content visible
                                targetElement.style.display = 'block';
                                // Remove active class from all links
                                document.querySelectorAll('.secondary-navigation-bar ul li a').forEach(function(link) {
                                    link.classList.remove('active');
                                });
                                // Add active class to the clicked link
                                clickedLink.classList.add('active');

                                
                                try 
                                {
                                    
                                    const product = getProduct(stockItems, localStorage.getItem('selectedItem'));
                                    // console.log(product)
                                    setDynamicBackground(product.name)

                                    var dynamicParagraph = document.getElementById('dynamic-paragraph');
                                    dynamicParagraph.innerHTML = product.description;
                                    var dynamicHeader = document.getElementById('dynamic-header');
                                    dynamicHeader.innerHTML = product.item_name + ' Platform';

                                    document.getElementById('pricing-card-logo').src = product.image // JSON.parse(localStorage.getItem('logoUrl'));
                                } catch(exception){
                                    console.log(exception.message)
                                }
                            } else {
                                console.error('Error loading content:', xhr.status);
                            }
                        }
                    };
                    xhr.open('GET', url, true);
                    xhr.send();
                    smoothScrollTo(hiddenSection, 1000);
                }
            </script>

        
  
    
    {% endblock %}

    {% include "templates/footer.html" %}
</body>

</html>