

.overview-content {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  width: 42%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 70px;
  box-sizing: border-box;
  font-family: 'Lato' , 'sans-serif';
  /* border: 5px solid brown; */
}

.overview-content h1 {
  font-weight: 600;
  font-size: 36px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.15px;
  color: #000000;
  margin-bottom: 20px;
  margin-top: -5%;
  width: 100%;
  /* border: yellow 5px solid; */
}

.overview-content-white h1 {
  font-weight: 600;
  font-size: 36px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.15px;
  color: #000000;
  margin-bottom: 20px;
}

.overview-content p {
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.15px;
  color: #000000;
  /* margin-bottom: 20px; */
  width: auto;
  height: auto;
  top: 20%;
  
  /* border: 3px solid #000000; */
}


.overview-content a {
  color: #000000;
  text-decoration: none;
  font-weight: 600;
}

.overview-content .enterprise-solution {
  font-size: 16px;
  margin-top: auto;
}

.enterprise-solution a {
  color: inherit; 
  text-decoration: none; 
  transition: color 0.3s ease; 
}

/* Style for link on hover */
.enterprise-solution a:hover {
  color: #ECB44B; 
}


.overview-image {
  position: absolute;
  width: 800px;
  height: 98%;
  right: 0;
  top: 0;
  left: 42%;
  background: url('/assets/geohosting/images/overview-background.svg') left/cover no-repeat;
  background-size: contain;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  height: 100%; 
  /* border: 5px solid purple; */
}






.overview-image-white {
  width: 800px; 
  background: url('/assets/geohosting/images/overview-background.svg') center/cover no-repeat;
  background-size: contain;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  /* border: 5px solid purple; */
  height: 50vh; 
  margin-top: 0%;
}

.overview-content-white {
  width: calc(100% - 838px - 20px); 
}


.overview-content-white h1 {
  font-weight: 600;
  font-size: 36px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.15px;
  color: #000000;
  margin-bottom: 20px;
  /* border: yellow 5px solid; */
  margin-top: -5%;
}

.overview-content-white p {
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.15px;
  color: #000000;
  margin-bottom: 20px;
  /* border: 5px solid blue; */
}









.overview-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  width: 90%;
  overflow-y: auto;
  margin-top: 3%;
  margin-left: 5.5%;
  margin-bottom: 5%;
  /* border: 3px solid gray; */
}

.overview-card {
  width: calc(23.33% - 40px);
  background-color: #ECECEC;
  border-radius: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  position: relative;
  height:35vh;
  padding: 30px;
  /* border: 5px solid black; */
}


.overview-card  h2 {
  font-size: 20px;
  color: #333;
  margin-bottom: 10px;
}

.overview-card  p {
  font-size: 16px;
  color: #666;
  margin-bottom: 10px;
}