  body {
    position: relative;
    background: #ECECEC;
    font-family: 'Lato', sans-serif;
    /* border: 5px solid red; */
    margin-top: 1%;
  }

 /* Portal Pages Heading */
 .portal-pages-heading {
  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 64px;
  gap: 10px;
  position: absolute;
  width: 1250px;
  height: 56px;
  left: 300px;
  top: 68px;
}

.portal-pages-heading span {
  box-sizing: border-box;
  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 0px 8px;
  gap: 10px;
  width: 237px;
  height: 48px;
  border-bottom: 2px solid #57A0C7;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 1;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 150%;
  /* identical to box height, or 48px */
  display: flex;
  align-items: center;
  letter-spacing: 0.15px;
  color: #000000;
}



.learn-more-button {
  border: none;
  display: flex;
  background-color: #ECB44B;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  width: 200px;
  transition: background-color 0.3s;
  align-items: center;
  justify-content: center; /* Center the contents horizontally */
  text-align: center; /* Ensure text is centered */
  user-select: none;
  gap: 0.75rem;
}


.learn-more-button:hover {
  background-color: #57A0C7;
  }

  .learn-more-button svg {
    width: 1.25rem;
    height: 1.25rem;
  }

  .support-ticket-table {
    border-collapse: separate;
    border-spacing: 0;
    width: 60%;
    margin-top: 5%;
    margin-left: 19.5%;
}

.support-ticket-table th,
.support-ticket-table td {
    padding: 8px;
    text-align: left;
}

.support-ticket-table input[type="text"] {
  width: 276px; height: 40px;
    padding: 8px;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    background-image: url('/assets/geohosting/images/search_icon.svg');
    background-repeat: no-repeat;
    background-position: calc(100% - 5px) center;
    padding-right: 30px;
}

.support-ticket-table .date-fields {
    display: flex;
    align-items: center; 
    font-weight: normal; 
}

/* Adjust label styles */
.support-ticket-table .date-fields label {
    margin-right: 10px; 
}

/* Adjust input styles */
.support-ticket-table .date-fields input[type="date"] {
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid gray; 
    width: 276px; height: 40px;
    border-radius: 4px;
}

.support-ticket-table th span {
  font-weight: normal; 
  color: #57A0C7;;
  cursor: pointer;
}


.support-ticket-table .new-ticket-btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.end-date-margin {
  margin-left: 20px;
}


@media (max-width: 768px) {
  .portal-pages-heading {
    width: 320px;
    height: auto;
    left: auto;
    top: 68px;
    margin-left: -15px;

  }

  .support-ticket-table .date-fields {
    display: flex;
    align-items: start; 
    flex-direction: column;
  }

  /* Adjust label styles */
  .support-ticket-table .date-fields label {
      margin-right: 0px; 
  }

  .end-date-margin {
    margin-left: 0px;
  }

  .support-ticket-table {
    width: auto;
    margin-top: 30%;
    margin-left: 0%;
  }

  .support-ticket-table th {
      display: block;
      width: 100%;
      margin-bottom: 10px;
  }

  .date-fields {
      display: flex;
      flex-wrap: wrap;
  }

  .date-fields label,
  .date-fields input[type="date"] {
      flex: 1;
      margin-bottom: 5px;
  }
}


.hidden {
  display: none !important;
}

.back-arrow {
  width: 50px;
  height: 50px;
  display: none;
  cursor: pointer;
}

.back-arrow:hover {
  animation: shake 0.5s ease;
}

@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  50% { transform: translateX(5px); }
  75% { transform: translateX(-5px); }
  100% { transform: translateX(0); }
}


.slide-in-left {
  animation: slide-in-left 0.5s forwards;
}

@keyframes slide-in-left {
  from {
      transform: translateX(-100%);
  }
  to {
      transform: translateX(0);
  }
}

.slide-out-left {
  animation: slide-out-left 0.5s forwards;
}

@keyframes slide-out-left {
  from {
      transform: translateX(0);
  }
  to {
      transform: translateX(-100%);
  }
}

.slide-in-right {
  animation: slide-in-right 0.5s forwards;
}

@keyframes slide-in-right {
  from {
      transform: translateX(100%);
  }
  to {
      transform: translateX(0);
  }
}

.slide-out-right {
  animation: slide-out-right 0.5s forwards;
}

@keyframes slide-out-right {
  from {
      transform: translateX(0);
  }
  to {
      transform: translateX(100%);
  }
}


.input-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
  /* margin-top: -1%; */
  /* margin-left: -35%; */
  width: auto;
  /* border: 3px solid yellow; */
}

.input-group input, 
.input-group select,
.input-group textarea {
  width: 550px;
  height: 45px;
  padding: 8px;
  border: 1px solid #E5E5E5;
  border-radius: 4px;
}



.row {
  display: flex; 
  gap: 20px;
}

input:focus {
  outline: none;
  border-color: #57A0C7;
  border-width: 2px;
}



.input-group-item {
  margin-bottom: 20px;
}

.input-group-item label {
  display: block;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #1A315C;
  margin-bottom: 5px;
}



.input-group-item input,
.input-group-item select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;

}

.input-group-item #editor {
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 8px;
}

.ck-editor__editable {
        min-height: 200px;
    }


    .loader {
      border: 6px solid #f3f3f3;
      border-top: 6px solid #3498db;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      animation: spin 2s linear infinite;
      margin: 0 auto;
    }
    
    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }


    .pagination-button {
      background-color: #ECB44B; 
      border: none;
      color: white;
      padding: 10px 20px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
      border-radius: 10px; 
    }
  
  .current-page {
      background-color: #57A0C7
  }
  
  .pagination-button:hover {
      background-color: #57A0C7;
  }

  /* .pagination-container {
    margin-left: 61.5%; 
    margin-top: 2%;
  } */

  /* .pagination-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-top: 20px;
} */

.pagination-container {
  display: flex;
  justify-content: flex-end; /* Aligns items to the right */
  position: absolute;
  bottom: 10px; /* Adjust as needed */
  right: 10px;  /* Adjust as needed */
  /* top: 600px; */
  width: auto;
}

  /* Media query for smaller devices */
@media (max-width: 768px) {
  .portal-pages-heading {
    left: -38px;
}
  .container {
    width: auto;
    display: none;
  }

  .input-group {
    display: wrap;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 8px;
    margin-top: 35%;
  }
  

  .input-group input,
  .input-group select,
  .input-group textarea {
    width: auto;
    height: auto;
  }

  .pagination-container {
    margin-left: 72.5%; 
  }

  
}


@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Apply blur effect to the background container */
#backgroundContainer.blur {
  filter: blur(5px); /* Adjust the blur radius as needed */
}


.alert {
  position: fixed;
  z-index: 9999;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 20%;
  max-width: 80%;
  margin: 20px auto;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 0 15px 5px #ccc;
}


.close {
    position: absolute;
    width: 30px;
    height: 30px;
    opacity: 0.5;
    border-width: 1px;
    border-style: solid;
    border-radius: 50%;
    right: 15px;
    top: 25px;
    text-align: center;
    font-size: 1.6em;
    cursor: pointer;
}

.simple-alert {
    background-color: #ebebeb;
    border-left: 5px solid #c5c5c5;
}

.simple-alert .close {
    border-color: #c5c5c5;
    color: #c5c5c5;
}

.success-alert {
    background-color: #ECECEC;
    border-left: 5px solid #57A0C7;
}

.success-alert .close {
    border-color: #57A0C7;
    color: #57A0C7;
}

.danger-alert {
    background-color: #f7a7a3;
    border-left: 5px solid #e5726d;
}

.danger-alert .close {
    border-color: #e5726d;
    color: #e5726d;
}

.warning-alert {
    background-color: #ffd48a;
    border-left: 5px solid #f0bc5e;
}

.warning-alert .close {
    border-color: #f0bc5e;
    color: #f0bc5e;
}
