<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>GeoHosting</title>
<link rel="stylesheet" href="portal_pages.css"> 
<link rel="stylesheet" href="user_profile.css">
<!-- test for a successful fetch on staging before implementing -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mobiscroll/react@4.10.10/dist/css/mobiscroll.min.css">
<!-- Include Mobiscroll JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/@mobiscroll/react@4.10.10/dist/js/mobiscroll.min.js"></script>
<!-- Include Mobiscroll Select JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/@mobiscroll/react@4.10.10/dist/js/mobiscroll-select.min.js"></script>


</head>
<body>


  {% include "templates/customer_portal_nav.html" %}

  <!-- Hosted Services heading -->
  <div class="portal-pages-heading">
    <span>Profile</span>
  </div>
 
  
  <div class="avatar-container">
    <div class="avatar">
      <img src="/assets/geohosting/images/user_placeholder.svg" alt="Avatar" class="user-avatar" id="user-avatar">
    </div>
    <input type="file" id="avatar-input" accept="image/*" style="display: none;">
    
  <button class="learn-more-button" onclick="document.getElementById('avatar-input').click()">Upload</button>
  </div>

  <div class="password-container">
    <button class="learn-more-button" id="updatePasswordButton">Update password</button>
    <img src="/assets/geohosting/images/back.png" alt="Back Icon" id="backIcon" class="back-arrow">
  </div>



  <div class="container">

    <div class="user-info">
      <h2>User Information</h2>
      <div class="form-group">
          <label for="name">Name:</label>
          <input type="text" id="name" name="name" placeholder="Name">
          <span class="error-message"></span>
      </div>
      <div class="form-group">
          <label for="surname">Surname:</label>
          <input type="text" id="surname" name="surname" placeholder="Surnname">
          <span class="error-message"></span>
      </div>
      <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" id="email" name="email" placeholder="Email">
          <span class="error-message"></span>
      </div>
      <div class="form-group">
          <label for="phone">Phone:</label>
          <input type="tel" id="phone" name="phone" placeholder="Phone number">
          <span class="error-message"></span>
      </div>
  </div>
  
  <h2 id="billing-info-header">Billing Information</h2>
  <div class="billing-info">
      <div class="billing-info-left">
          <div class="form-group">
              <label for="institution">Institution Name:</label>
              <input type="text" id="institution" name="institution" placeholder="Institution name">
              <span class="error-message"></span>
          </div>
          <div class="form-group">
              <label for="city">Institution City:</label>
              <input type="text" id="city" name="city" placeholder="City">
              <span class="error-message"></span>
          </div>
          <div class="form-group">
              <label for="region">Institution Region:</label>
              <input type="text" id="region" name="region" placeholder="Region">
              <span class="error-message"></span>
          </div>
      </div>
      <div class="billing-info-right">
          <div class="form-group">
              <label for="address">Institution Address:</label>
              <input type="text" id="address" name="address" placeholder="Address">
              <span class="error-message"></span>
          </div>
          <div class="form-group">
              <label for="postal">Institution Postal Code:</label>
              <input type="text" id="postal" name="postal" placeholder="Postal code">
              <span class="error-message"></span>
          </div>
          <div class="form-group">
              <label for="country">Institution Country:</label>
              <input type="text" id="country" name="country" placeholder="Country">
              <span class="error-message"></span>
          </div>
      </div>
  </div>

  <button class="learn-more-button" id="saveButton" onclick="updateUserProfile()">Save</button>

  <!-- Password fields -->
    <div class="password-section hidden">
        <h2>Password Update</h2>
        <div class="form-group">
        <label for="old-password">Old Password:</label>
        <div class="password-input">
            <input type="password" id="old-password" name="old-password" placeholder="Old Password">
            <span id="togglePasswordOld" class="toggle-password" onclick="togglePasswordVisibility('old-password')">Show</span>
        </div>
        <span class="error-message"></span>
        </div>
        <div class="form-group">
        <label for="new-password">New Password:</label>
        <div class="password-input">
            <input type="password" id="new-password" name="new-password" placeholder="New Password">
            <span id="togglePasswordNew" class="toggle-password" onclick="togglePasswordVisibility('new-password')">Show</span>
        </div>
        <span class="error-message"></span>
        </div>
        <div class="form-group">
        <label for="repeat-password">Repeat Password:</label>
        <div class="password-input">
            <input type="password" id="repeat-password" name="repeat-password" placeholder="Repeat Password">
            <span id="togglePasswordRepeat" class="toggle-password" onclick="togglePasswordVisibility('repeat-password')">Show</span>
        </div>
        <span class="error-message"></span>
        </div>
        <button class="learn-more-button" id="updatePasswordButton">Update Password</button>
    </div>
  

  
</div>

{% if not create_profile_prompt %}
<script>
// Get user profile data from the context
var user_profile = {{ user_profile | tojson | safe }};
user_profile = JSON.parse(user_profile)
console.log(user_profile)

  // Function to populate input fields with default values
  function populateInputFields() {
      document.getElementById('name').value = user_profile.first_name;
      document.getElementById('surname').value = user_profile.last_name;
      document.getElementById('email').value = user_profile.contact_info.email;
      document.getElementById('phone').value = user_profile.contact_info.mobile_no==null? '':user_profile.contact_info.mobile_no;

      document.getElementById('institution').value = user_profile.address_info.name;
      document.getElementById('city').value = user_profile.address_info.city;
      document.getElementById('region').value = user_profile.address_info.state;
      document.getElementById('address').value = user_profile.address_info.address_line1;
      document.getElementById('postal').value = user_profile.address_info.pincode;
      document.getElementById('country').value = user_profile.address_info.country;
      document.getElementById('user-avatar').setAttribute('src', user_profile.customer_avatar);
  }

  // Call the populateInputFields function when the page loads
  window.onload = function() {
      populateInputFields();
  };
</script>
{% endif %}


<script>

// passwords visibility
function togglePasswordVisibility(inputId) {
  var passwordInput = document.getElementById(inputId);
  var togglePasswordButton = document.getElementById('togglePassword' + inputId.charAt(0).toUpperCase() + inputId.slice(1));

  if (passwordInput.type === "password") {
    passwordInput.type = "text";
    togglePasswordButton.textContent = "Hide";
  } else {
    passwordInput.type = "password";
    togglePasswordButton.textContent = "Show";
  }
}



// render passwords fields/user info field
document.addEventListener('DOMContentLoaded', function () {
    const updatePasswordButton = document.getElementById('updatePasswordButton');
    const backButton = document.getElementById('backIcon');
    const passwordSection = document.querySelector('.password-section');
    const userInfoSection = document.querySelector('.user-info');
    const billingInfoSection = document.querySelector('.billing-info');
    const billingInfoHeader = document.getElementById('billing-info-header');
    const saveButton = document.getElementById('saveButton');
    const backIcon = document.getElementById('backIcon');
    const avatar = document.querySelector('.avatar-container')
    const passwordContainer = document.querySelector('.password-container');

    updatePasswordButton.addEventListener('click', function () {
        passwordSection.classList.remove('slide-out-right');

        userInfoSection.classList.add('hidden', 'slide-out-left');
        billingInfoSection.classList.add('hidden', 'slide-out-left');

        passwordSection.classList.remove('hidden');
        passwordSection.classList.add('slide-in-left');
        backButton.classList.remove('hidden', 'slide-in-left');

        billingInfoHeader.classList.add('hidden');
        saveButton.classList.add('hidden');
        updatePasswordButton.classList.add('hidden');
        backIcon.style.display = 'block';
        passwordContainer.style.marginTop = '7.5%';
        avatar.classList.add('hidden');
    });

    backButton.addEventListener('click', function () {
        userInfoSection.classList.remove('slide-in-right');
        billingInfoSection.classList.remove('slide-in-right');

        passwordSection.classList.add('hidden', 'slide-out-right');

        userInfoSection.classList.remove('hidden');
        billingInfoSection.classList.remove('hidden');
        userInfoSection.classList.add('slide-in-right');
        billingInfoSection.classList.add('slide-in-right');

        billingInfoHeader.classList.remove('hidden');
        saveButton.classList.remove('hidden');
        updatePasswordButton.classList.remove('hidden');
        backIcon.style.display = 'none';
        passwordContainer.style.marginTop = '1%';
        avatar.classList.remove('hidden');
    });

}); 




  // user avatar upload
  document.getElementById('avatar-input').addEventListener('change', function(event) {
    const file = event.target.files[0];
    if (file) {
      const reader = new FileReader();
      reader.onload = function(event) {
        const imageUrl = event.target.result;
        document.getElementById('user-avatar').src = imageUrl;
      }
      reader.readAsDataURL(file);
    }
  });

  // validate input fields
  const inputFields = document.querySelectorAll('input:not(#avatar-input):not([type="password"])');
  const saveButton = document.getElementById('saveButton');

  saveButton.disabled = true;
  saveButton.style.opacity = '0.5';

  inputFields.forEach(input => {
      input.addEventListener('input', function() {
          validateInputFields();
      });
  });

  function validateInputFields() {
      let isEmpty = false;
      let isInvalidEmail = false;

      inputFields.forEach(input => {
        const errorMessage = input.nextElementSibling;

        if (input.value.trim() === '') {
            isEmpty = true;
            errorMessage.textContent = `${input.placeholder} cannot be empty.`;
            errorMessage.style.color = 'red';
        } else {
            errorMessage.textContent = '';
        }

        if (input.type === 'email' && !isValidEmail(input.value)) {
            isInvalidEmail = true;
            errorMessage.textContent = 'Invalid email format.';
            errorMessage.style.color = 'red';
        }

        if (isEmpty || isInvalidEmail) {
            input.classList.add('error');
        } else {
            input.classList.remove('error');
        }
    });

      if (isEmpty || isInvalidEmail) {
          saveButton.disabled = true;
          saveButton.style.opacity = '0.5'; // Set opacity to 50%
      } else {
          saveButton.disabled = false;
          saveButton.style.opacity = '1'; // Set opacity to 100%
      }
  }

  function isValidEmail(email) {
      const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
      return emailRegex.test(email);
  }

  function highlightField(input) {
      input.classList.add('error');
      alert(`${input.placeholder} cannot be empty.`);
  }



 // response after update
  function updateUserProfile() {
      // Your update logic here
      console.log('User profile updated');
  }




 
</script>


<!-- queries -->
<script>
  function updateUserProfile() {
    // Get values from input fields
    var name = document.getElementById('name').value;
    var surname = document.getElementById('surname').value;
    var email = document.getElementById('email').value;
    var phone = document.getElementById('phone').value;
    var institution = document.getElementById('institution').value;
    var city = document.getElementById('city').value;
    var region = document.getElementById('region').value;
    var address = document.getElementById('address').value;
    var postal = document.getElementById('postal').value;
    var country = document.getElementById('country').value;

    // Make an AJAX request to update the user profile
    var data = {
        first_name: name,
        last_name: surname,
        email: email,
        mobile_no: phone
    };

    // Get the email address from frappe.user.session
    const userEmail = "{{ frappe.session.user }}";

    // Make an AJAX request to update the user profile
    fetch(`/api/resource/User/${userEmail}`, {
        method: 'PUT',
        headers: {
            "Accept": "application/json",
            "Content-Type": "application/json",
        },
        body: JSON.stringify(data)
    })
    .then(response => {
        if (!response.ok) {
            throw new Error('Network response was not ok');
        }
        return response.json();
    })
    .then(data => {
        // Handle success response
        console.log(data);
        // make another request to update or create address
        // /api/resource/Address/${userEmail}
        alert('User profile updated successfully');
    })
    .catch(error => {
        // Handle error
        console.error('There was a problem with the fetch operation:', error);
        alert('Failed to update user profile');
    });

}


</script>



</body>
</html>
