<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>GeoHosting</title>
<link rel="stylesheet" href="portal_pages.css">
<link rel="stylesheet" href="user_profile.css">
<script src="/assets/geohosting/js/util.js"></script>
<script src="portal_pages.js"></script>
 <!-- Include Select2 CSS -->
 <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
 <!-- Include jQuery (required by Select2) -->
 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
 <!-- Include Select2 JS -->
 <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>


<style>
    .select2-container .select2-selection--single {
            height: 38px; 
            border: none;
            margin-top: 0.5%;
        }

        .select2-container--default .select2-selection--single .select2-selection__rendered {
            line-height: 38px;
        }

        .select2-container--default .select2-selection--single .select2-selection__arrow {
            height: 38px;
        }
</style>
</head>
    <body>

  {% include "templates/customer_portal_nav.html" %}

  <!-- Hosted Services heading -->
  <div class="portal-pages-heading">
    <span>Profile</span>
  </div>
 
  
  <div class="avatar-container" id="backgroundContainerAvatar">
    <div class="avatar">
        <img src="" alt="Avatar" class="user-avatar" id="user-avatar">
    </div>
    <input type="file" id="avatar-input" accept="image/*" style="display: none;">
    <!-- <button class="learn-more-button" onclick="document.getElementById('avatar-input').click()">Upload</button> -->
    <button class="learn-more-button" onclick="document.getElementById('avatar-input').click()">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
          <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 3H12H8C6.34315 3 5 4.34315 5 6V18C5 19.6569 6.34315 21 8 21H11M13.5 3L19 8.625M13.5 3V7.625C13.5 8.17728 13.9477 8.625 14.5 8.625H19M19 8.625V11.8125" stroke="#fffffff" stroke-width="2"></path>
      <path d="M17 15V18M17 21V18M17 18H14M17 18H20" stroke="#fffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
        </svg>
      Add avatar
      </button>
  </div>



  <div class="password-container" id="backgroundContainerPassword">
    <button class="learn-more-button" id="updatePasswordButton">Update password</button>
    <img src="/assets/geohosting/images/back.png" alt="Back Icon" id="backIcon" class="back-arrow">
  </div>



  <div class="container" id="backgroundContainer">

    <div class="user-info">
      <h2>User Information</h2>
      <div class="form-group">
          <label for="name">Name</label>
          <input type="text" id="name" name="name" placeholder="Name">
          <span class="error-message"></span>
      </div>
      <div class="form-group">
          <label for="surname">Surname</label>
          <input type="text" id="surname" name="surname" placeholder="Surnname">
          <span class="error-message"></span>
      </div>
      <div class="form-group">
          <label for="email">Email</label>
          <input type="email" id="email" name="email" placeholder="Email">
          <span class="error-message"></span>
      </div>
      <div class="form-group">
          <label for="phone">Phone</label>
          <input type="tel" id="phone" name="phone" placeholder="Phone number">
          <span class="error-message"></span>
      </div>
  </div>
  
  <h2 id="billing-info-header">Billing Information</h2>
  <div class="billing-info">
      <div class="billing-info-left">
          <div class="form-group">
              <label for="institution">Name</label>
              <input type="text" id="institution" name="institution" placeholder="Institution name">
              <span class="error-message"></span>
          </div>
          <div class="form-group">
              <label for="city">City</label>
              <input type="text" id="city" name="city" placeholder="City">
              <span class="error-message"></span>
          </div>
          <div class="form-group">
              <label for="region">Region</label>
              <input type="text" id="region" name="region" placeholder="Region">
              <span class="error-message"></span>
          </div>
      </div>
      <div class="billing-info-right">
          <div class="form-group">
              <label for="address">Address</label>
              <input type="text" id="address" name="address" placeholder="Address">
              <span class="error-message"></span>
          </div>
          <div class="form-group">
              <label for="postal">Postal Code</label>
              <input type="text" id="postal" name="postal" placeholder="Postal code">
              <span class="error-message"></span>
          </div>
         
        <div class="form-group">
            <label for="country">Country</label>
            <select id="country" name="country" class="country-dropdown" value="" style="width: 100%;" placeholder="Country">
                
            </select>
            <span class="error-message"></span>
        </div>

      </div>
  </div>

  <button class="learn-more-button" id="saveButton" onclick="updateUserProfile()">Save</button>
  <div id="loading-indicator" style="display: none;">
    <div class="loader"></div>
  </div>

  <!-- Password fields -->
    <div class="password-section hidden">
        <h2>Password Update</h2>
        <div class="form-group">
        <label for="new-password">New Password:</label>
        <div class="password-input">
            <input type="password" id="new-password" name="new-password" placeholder="New Password">
            <span id="togglePasswordNew" class="toggle-password" onclick="togglePasswordVisibility('new-password')">Show</span>
        </div>
        
        </div>
        <div class="form-group">
        <label for="repeat-password">Repeat Password:</label>
        <div class="password-input">
            <input type="password" id="repeat-password" name="repeat-password" placeholder="Repeat Password">
            <span id="togglePasswordRepeat" class="toggle-password" onclick="togglePasswordVisibility('repeat-password')">Show</span>
        </div>
        <span class="error-message"></span>
        </div>
        <button class="learn-more-button" id="updatePasswordButton2">Update Password</button>
        <div id="loading-indicator2" style="display: none;">
            <div class="loader"></div>
          </div>
    </div>
  
  


  
  
</div>

{% if not create_customer_prompt %}
<script>
// Get user profile data from the context
var user_profile = {{ user_profile | tojson | safe }};
user_profile = JSON.parse(user_profile)

  // Function to populate input fields with default values
  function populateInputFields() {
      document.getElementById('name').value = user_profile.first_name;
      document.getElementById('surname').value = user_profile.last_name;
      document.getElementById('email').value = user_profile.contact_info.email;
      document.getElementById('phone').value = user_profile.contact_info.mobile_no==null? '':user_profile.contact_info.mobile_no;

        const institutionValue = user_profile.address_info.address_title ? user_profile.address_info.address_title : '';
        const cityValue = user_profile.address_info.city ? user_profile.address_info.city : '';
        const regionValue = user_profile.address_info.state ? user_profile.address_info.state : '';
        const addressValue = user_profile.address_info.address_line1 ? user_profile.address_info.address_line1 : '';
        const postalValue = user_profile.address_info.pincode ? user_profile.address_info.pincode : '';
        const countryValue = user_profile.address_info.country ? user_profile.address_info.country : '';
        const avatarSrc = user_profile.customer_avatar ? user_profile.customer_avatar : '/assets/geohosting/images/user_placeholder.svg';

        document.getElementById('institution').value = institutionValue;
        document.getElementById('city').value = cityValue;
        document.getElementById('region').value = regionValue;
        document.getElementById('address').value = addressValue;
        document.getElementById('postal').value = postalValue;
        document.getElementById('user-avatar').setAttribute('src', avatarSrc);
  }

  // Call the populateInputFields function when the page loads
  window.onload = function() {
      populateInputFields();
  };
</script>
{% endif %}


<script>

    
var backgroundContainer = document.getElementById('backgroundContainer');

function showCustomAlert(message, alertType) {
    var customAlert = document.createElement('div');
    customAlert.classList.add('alert', alertType);
    customAlert.innerHTML = `
        <h4>${message}</h4>
        <a class="close">&times;</a>
    `;

    document.body.appendChild(customAlert);

    $(".close").click(function() {
    $(this)
        .parent(".alert")
        .fadeOut();
        backgroundContainer.classList.remove('blur'); 
    });

    backgroundContainer.classList.add('blur');
}



// passwords visibility
function togglePasswordVisibility(inputId) {
  var passwordInput = document.getElementById(inputId);
  var togglePasswordButton = document.getElementById('togglePassword' + inputId.charAt(0).toUpperCase() + inputId.slice(1));

  if (passwordInput.type === "password") {
    passwordInput.type = "text";
    togglePasswordButton.textContent = "Hide";
  } else {
    passwordInput.type = "password";
    togglePasswordButton.textContent = "Show";
  }
}



// render passwords fields/user info field
document.addEventListener('DOMContentLoaded', function () {
    const updatePasswordButton = document.getElementById('updatePasswordButton');
    const backButton = document.getElementById('backIcon');
    const passwordSection = document.querySelector('.password-section');
    const userInfoSection = document.querySelector('.user-info');
    const billingInfoSection = document.querySelector('.billing-info');
    const billingInfoHeader = document.getElementById('billing-info-header');
    const saveButton = document.getElementById('saveButton');
    const backIcon = document.getElementById('backIcon');
    const avatar = document.querySelector('.avatar-container')
    const passwordContainer = document.querySelector('.password-container');

    updatePasswordButton.addEventListener('click', function () {
        passwordSection.classList.remove('slide-out-right');

        userInfoSection.classList.add('hidden', 'slide-out-left');
        billingInfoSection.classList.add('hidden', 'slide-out-left');

        passwordSection.classList.remove('hidden');
        passwordSection.classList.add('slide-in-left');
        backButton.classList.remove('hidden', 'slide-in-left');

        billingInfoHeader.classList.add('hidden');
        saveButton.classList.add('hidden');
        updatePasswordButton.classList.add('hidden');
        backIcon.style.display = 'block';
        passwordContainer.style.marginTop = '7.5%';
        avatar.classList.add('hidden');
    });

    backButton.addEventListener('click', function () {
        userInfoSection.classList.remove('slide-in-right');
        billingInfoSection.classList.remove('slide-in-right');

        passwordSection.classList.add('hidden', 'slide-out-right');

        userInfoSection.classList.remove('hidden');
        billingInfoSection.classList.remove('hidden');
        userInfoSection.classList.add('slide-in-right');
        billingInfoSection.classList.add('slide-in-right');

        billingInfoHeader.classList.remove('hidden');
        saveButton.classList.remove('hidden');
        updatePasswordButton.classList.remove('hidden');
        backIcon.style.display = 'none';
        passwordContainer.style.marginTop = '1%';
        avatar.classList.remove('hidden');
    });

}); 




  // user avatar upload
  document.getElementById('avatar-input').addEventListener('change', function(event) {
    const file = event.target.files[0];
    if (file) {
        uploadImage(file);
    }
  });

  function uploadImage(file) {
    const formData = new FormData();
    formData.append('file', file);

    const userEmail = "{{ frappe.session.user }}";

    // Append other form data fields
    formData.append('is_private', '1');
    formData.append('folder', 'Home');
    formData.append('doctype', 'User');
    formData.append('docname', userEmail);
    formData.append('fieldname', 'user_image');

    const options = {
            method: 'POST',
            body: formData
        };

        // update the user information
        fetchWithCSRF('/api/method/upload_file', options)
        .then(response => response.json())
        .then(data => {
            if (data.message.file_url) {
                const imageUrl = data.message.file_url;
                document.getElementById('user-avatar').src = imageUrl;
                localStorage.setItem('uploaded_image_path', imageUrl);
                const saveButton = document.getElementById('saveButton');
                saveButton.disabled = false;
                saveButton.style.opacity = '1';
            } else {
                console.error('Error uploading image:', data);
            }
        })
        .catch(error => {
            console.error('Error uploading image:', error);
        });

    // fetch('/api/method/upload_file', {
    //     method: 'POST',
    //     body: formData
    // })
    

}

  // validate input fields
  const inputFields = document.querySelectorAll('input:not(#avatar-input):not([type="password"]):not(#country)');
  const saveButton = document.getElementById('saveButton');

  saveButton.disabled = true;
  saveButton.style.opacity = '0.5';

  inputFields.forEach(input => {
    input.addEventListener('input', function() {
        validateInputFields();
    });
  });



  function validateInputFields() {
      let isEmpty = false;
      let isInvalidEmail = false;

      inputFields.forEach(input => {
        const errorMessage = input.nextElementSibling;

        if (input.value.trim() === '') {
            isEmpty = true;
            errorMessage.textContent = `${input.placeholder} cannot be empty.`;
            errorMessage.style.color = 'red';
        } else {
            errorMessage.textContent = '';
        }

        if (input.type === 'email' && !isValidEmail(input.value)) {
            isInvalidEmail = true;
            errorMessage.textContent = 'Invalid email format.';
            errorMessage.style.color = 'red';
        }

        if (isEmpty || isInvalidEmail) {
            input.classList.add('error');
        } else {
            input.classList.remove('error');
        }
    });

      if (isEmpty || isInvalidEmail) {
          saveButton.disabled = true;
          saveButton.style.opacity = '0.5'; // Set opacity to 50%
      } else {
          saveButton.disabled = false;
          saveButton.style.opacity = '1'; // Set opacity to 100%
      }
  }

  function isValidEmail(email) {
      const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
      return emailRegex.test(email);
  }

  function highlightField(input) {
      input.classList.add('error');
      alert(`${input.placeholder} cannot be empty.`);
  }
  
 
</script>


<!-- queries -->
<script>
  function updateUserProfile() {

    var loadingIndicator = document.getElementById('loading-indicator');
    loadingIndicator.style.display = 'block';
    const saveButton = document.getElementById('saveButton');
    saveButton.style.display = 'none';

    var name = document.getElementById('name').value;
    var surname = document.getElementById('surname').value;
    var email = document.getElementById('email').value;
    var phone = document.getElementById('phone').value;

    var institution = document.getElementById('institution').value;
    var city = document.getElementById('city').value;
    var region = document.getElementById('region').value;
    var address = document.getElementById('address').value;
    var postal = document.getElementById('postal').value;
    var country = document.getElementById('country').value;

    const uploadedImagePath = localStorage.getItem('uploaded_image_path');
    const userImageData = uploadedImagePath ? { user_image: uploadedImagePath } : {};


    var user_data = {
        first_name: name,
        last_name: surname,
        email: email,
        mobile_no: phone,
        // user_image: localStorage.getItem('uploaded_image_path')
        ...userImageData 
    };

    const userEmail = "{{ frappe.session.user }}";

    const url = `/api/resource/User/${userEmail}`

    const options = {
        method: 'PUT',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify(user_data),
    };

    // update the user information
    fetchWithCSRF(url, options)
    .then(response => {
        if (!response.ok) {
            loadingIndicator.style.display = 'none';
            saveButton.style.display = 'block';
            throw new Error('Network response was not ok');
        }
        return response.json();
    })
    .then(data => {
        updateOrCreateAddress(userEmail)
    })
    .catch(error => {
        // Handle error
        console.error('There was a problem with the fetch operation:', error);
        loadingIndicator.style.display = 'none';
        saveButton.style.display = 'block';
        showCustomAlert('Failed to update user profile', 'danger-alert');
    });

    // update the user information
    // fetch(`/api/resource/User/${userEmail}`, {
    //     method: 'PUT',
    //     headers: {
    //         "Accept": "application/json",
    //         "Content-Type": "application/json",
    //     },
    //     body: JSON.stringify(user_data)
    // })
    

    function updateOrCreateAddress(customerName) {
        const baseUrl = '/api/method/geohosting.api.update_or_create_address';
        const apiUrl = `${baseUrl}`;

        var addressData = {
                // name: institution,
                address_title: institution,
                city: city,
                country: country,
                pincode: postal,
                is_primary_address: 1,
                state: region,
                address_line1: address,
                address_type: 'Billing',
                email_id: userEmail
            }

        const options = {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                customer_name: customerName,
                address_data: addressData
            }),
        };

        // update the user information
        fetchWithCSRF(apiUrl, options)
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.json();
        })
        .then(data => {
            showCustomAlert('Profile updated successfully', 'success-alert');
            const saveButton = document.getElementById('saveButton');
            saveButton.disabled = true;
            saveButton.style.opacity = '0.5';
            saveButton.style.display = 'block';
            loadingIndicator.style.display = 'none';
        })
        .catch(error => {
            console.error('There was a problem with updating the billing info', error);
            showCustomAlert('There was a problem with updating the billing info', 'danger-alert');
            loadingIndicator.style.display = 'none';
            saveButton.style.display = 'block';
        });

        // fetch(apiUrl, {
        //     method: 'POST',
        //     headers: {
        //         'Content-Type': 'application/json'
        //     },
        //     body: JSON.stringify({
        //         customer_name: customerName,
        //         address_data: addressData
        //     }),
        // })
        
    }

}

    var user_profile = {{ user_profile | tojson | safe }};
    user_profile = JSON.parse(user_profile)

    fetch('/api/resource/Country?limit_page_length=9999')
        .then(response => response.json())
        .then(data => {
            const countryNames = data.data.map(country => country.name);

            $('.country-dropdown').select2({
                data: countryNames,
                placeholder: 'Country',
                allowClear: true
            });

            var selectedCountry = user_profile.address_info.country;
            var select = $('#country');
            select.val(selectedCountry).trigger('change');
            
        })
        .catch(error => {
            console.error('Error fetching countries:', error);
        });


</script>

<!-- update password -->
<script>
    const newPasswordInput = document.getElementById('new-password');
    const repeatPasswordInput = document.getElementById('repeat-password');
    const updatePasswordButton = document.getElementById('updatePasswordButton2');
    var loadingIndicator = document.getElementById('loading-indicator2');
    

    newPasswordInput.addEventListener('input', validatePasswordMatch);
    repeatPasswordInput.addEventListener('input', validatePasswordMatch);

    updatePasswordButton.disabled = true;
    updatePasswordButton.style.opacity = '0.5';

    // Function to validate if the passwords match
    function validatePasswordMatch() {
        const newPassword = newPasswordInput.value;
        const repeatPassword = repeatPasswordInput.value;
        const errorMessage = document.querySelector('.password-section .error-message');

        // Check if the passwords match
        if (newPassword !== repeatPassword) {
            errorMessage.textContent = "Passwords don't match";
            errorMessage.style.color = 'red';
            updatePasswordButton.disabled = true;
            updatePasswordButton.style.opacity = '0.5';
        } else {
            errorMessage.textContent = '';
            updatePasswordButton.disabled = false;
            updatePasswordButton.style.opacity = '1'; 
        }
    }

    updatePasswordButton.addEventListener('click', function() {
        const newPassword = newPasswordInput.value;
        const userEmail = "{{ frappe.session.user }}";
        loadingIndicator.style.display = 'block';
        updatePasswordButton.style.display = 'none';
        fetch(`/api/resource/User/${userEmail}`, {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ new_password: newPassword })
        })
        .then(response => {
            if (!response.ok) {
                loadingIndicator.style.display = 'none';
                updatePasswordButton.style.display = 'block';
                throw new Error('Network response was not ok');
            }
            return response.json();
        })
        .then(data => {
            console.log(data);
            loadingIndicator.style.display = 'none';
            updatePasswordButton.style.display = 'block';
            showCustomAlert('Password updated successfully', 'success-alert');
        })
        .catch(error => {
            // Handle error
            console.error('There was a problem with the fetch operation:', error);
            showCustomAlert('Failed to update password', 'danger-alert');
            loadingIndicator.style.display = 'none';
            updatePasswordButton.style.display = 'block';
        });
    });

</script>

</body>
</html>
